

server {
    client_max_body_size 10000
    listen 127.0.0.1:8080
    server_name mywebsite.com
    error_page_404 /path/to/error_page.html

    location /kapouet {

        allow_methods GET POST

        root /tmp/www

        autoindex on

        index default_file.html

        cgi_pass   unix:/var/run/php/php7.3-fpm.sock
        client_body_temp_path /path/to/save/uploads
    }

    location / {
        allow_methods GET
        root /tmp/www
    }

}
