

server {
    client_max_body_size 9999
    listen 127.0.0.1:8080
    server_name 127.0.0.1:8080

    error_page_404 /path/to/error_page.html

    location /kapouet {

        allow_methods GET POST

        root /tmp/www

        autoindex on

        index default_file.html

        cgi_pass   unix:/var/run/php/php7.3-fpm.sock
        cgi_index   index.php

        client_body_temp_path /path/to/save/uploads
    }

    location / {
        allow_methods GET
        root ./resources/pages
    }

    location /main {
        allow_methods GET
        root ./resources/pages
        index serious.html
    }

    location /test_delete {
        allow_methods DELETE
        root ./resources/pages/test_resources
    }

    location /test_post_and_delete {
        allow_methods GET
        root ./resources/pages/
        index test_upload.html
    }

    location /test_post {
        allow_methods POST
        client_body_temp_path ./resources/pages/test_resources/upload
        root ./resources/pages/test_resources/
    }

    location /test_autoindex {
        allow_methods GET
        root ./resources
        autoindex on
    }
}
